<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--Andy Carle, Berkeley Institute of Design, UC Berkeley-->

<plugin>



   <extension
         point="org.eclipse.ui.views">
      <category
            name="EduRide"
            id="edurideViewCategory">
      </category>
      <view
            name="EduRide Navigator"
            icon="icons/car-red.gif"
            category="edurideViewCategory"
            class="studentview.views.UCWISENav"
            id="studentview.views.SampleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="studentview.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
        name="JUnit"
        delegate="org.eclipse.jdt.junit.launcher.JUnitLaunchConfigurationDelegate"
        modes="run, debug"               
        id="org.eclipse.jdt.launching.javaApplet">
    </launchConfigurationType>
</extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="StudentView.viewContribution1"
            targetID="StudentView.viewContribution1">
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Commands Related to StudentView"
            id="StudentView.commands.category"
            name="StudentView">
      </category>
      <command
            categoryId="StudentView.commands.category"
            description="Open StudentView with new assignment"
            id="StudentView.commands.openView"
            name="Open StudentView">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="StudentView.menus.toolbar">
            <command
                  commandId="StudentView.commands.openView"
                  icon="icons/sample.gif"
                  id="StudentView.menus.openView"
                  style="push"
                  tooltip="Open the StudentView">
               <visibleWhen
                     checkEnabled="false">
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="studentview.handlers.OpenStudentViewHandler"
            commandId="StudentView.commands.openView">
         <activeWhen></activeWhen>
         <enabledWhen></enabledWhen>
      </handler>
   </extension>

</plugin>
