<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--Andy Carle, Berkeley Institute of Design, UC Berkeley-->

<plugin>



   <extension
         point="org.eclipse.ui.views">
      <category
            name="EduRide"
            id="edurideViewCategory">
      </category>
      <view
            name="EduRide Navigator"
            icon="icons/car-red.gif"
            category="edurideViewCategory"
            class="navigatorView.views.UCWISENav"
            id="studentview.views.SampleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="studentview.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
        name="JUnit"
        delegate="org.eclipse.jdt.junit.launcher.JUnitLaunchConfigurationDelegate"
        modes="run, debug"               
        id="org.eclipse.jdt.launching.javaApplet">
    </launchConfigurationType>
</extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Commands Related to StudentView"
            id="StudentView.commands.category1"
            name="StudentView">
      </category>
      <command
            categoryId="StudentView.commands.category1"
            defaultHandler="navigatorView.handlers.OpenAssignmentChooser"
            description="Open the EduRide navigator and choose an assignment"
            id="StudentView.commands.openAssignmentChooser"
            name="Choose EduRide assignment">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="StudentView.toolbars.main">
            <command
                  commandId="StudentView.commands.openAssignmentChooser"
                  icon="icons/car-red.gif"
                  id="StudentView.command.openAssignment"
                  label="Choose an EduRide assignment"
                  style="push"
                  tooltip="Open the EduRide navigator view and choose an assignment">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
  

</plugin>
